.list {
}
.paginationWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .pagination {
        justify-content: center;
    }
}

.cardContentMeta {
    time {
        margin-left: auto;
    }
}
